name: Discord Open Hours Reminder

on: 
  schedule:
    - cron: '0 19 * * Sun' #19 for Summer, 20 for Winter
    - cron: '0 17 * * Sat' #17 for Summer, 18 for Winter
    - cron: '0 21 * * Tue,Thu' #21 for Summer, 22 for Winter
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12.8'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
  
    - name: Create Google Credentials File
      run: |
        echo "${{ secrets.GOOGLE_CREDENTIALS_BASE64 }}" | base64 --decode > google-credentials.json

    - name: Run script
      run: python hosting_reminder_email.py
      env:
        DISCORD_BOT_TOKEN: ${{ secrets.DISCORD_BOT_TOKEN }}
        WA_API_KEY: ${{ secrets.WA_API_KEY }}
        RH_API_KEY: ${{ secrets.RH_API_KEY }}        
        RAIDHELPER_LEADER_ID: ${{ secrets.RAIDHELPER_LEADER_ID }}
        SERVER_ID: ${{ secrets.SERVER_ID }}
        CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
        TEST_CHANNEL_ID: ${{ secrets.TEST_CHANNEL_ID }}
        GOOGLE_APPLICATION_CREDENTIALS: ${{ github.workspace }}/google-credentials.json

    - name: Commit and push log file
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"
        git add hosting_reminder.log
        git commit -m "Update log file"
        git push

